@import "variables";
.header {
    margin:0;
    padding:0;
    position: relative;

    height: 750px;
    background: url('images/header.png') no-repeat;
    background-size:100% auto;

    .intro {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;

        position: absolute;
        width: 415px;
        height: 371px;
        left: 138px;
        top: calc(50% - 371px/2 - 0.5px);

        .heading {
            font-size: 90px;
            line-height: 90px;

            /* or 100% */
            letter-spacing: -0.03em;

            /* Father (Hero) */
            color: $font-color;

            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
            margin: 20px 0px;
        }

        .header-intro-details {
            font-size: 15px;
            line-height: 30px;
            /* or 167% */
            /* Father (Hero) */
            color: $font-color;
            /* Inside auto layout */
            flex: none;
            order: 1;
            align-self: stretch;
            flex-grow: 0;
            margin: 20px 0px;
        }

        .header-button {

            /* Font styles for button */
            font-weight: 700;
            font-size: 10px;
            line-height: 15px;

            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 15px 30px;
            cursor: pointer;

            /* identical to box height, or 150% */
            letter-spacing: 0.15em;
            text-transform: uppercase;

            /* White */
            color: $white-color;

            /* Son (Accent) */
            background: $button-color;

            /* Inside auto layout */
            flex: none;
            order: 1;
            flex-grow: 0;
            margin: 36px 0px;

        }
    }
}


@media only screen and (max-width: 600px) {
    .header {
        .intro {
            width:300px;
            left:10px;
            .heading {
                font-size: 40px;

            }
        }

    }
}