.ant-modal, .ant-modal-content {
  height: 100vh;
  width: 100vw;
  margin: 0;
  top: 0;
  z-index: 10000;
}
.ant-modal-body {
  height: calc(100vh - 110px);
  z-index: 10000;
}

.steps-action {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
