.render-options {
  height: 60vh;
  overflow-y: scroll;
}

.steps-content {
  margin-top: 10px;
  margin-bottom: 10px;
}

.radio-group {
  width:100%;
}

.steps-action {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
